USE [Coppel]
GO
/****** Object:  Table [dbo].[CentrodeTrabajo]    Script Date: 06/04/2026 0:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentrodeTrabajo](
	[numCentro] [nchar](6) NOT NULL,
	[nombreCentro] [nchar](50) NULL,
	[ciudad] [nchar](15) NULL,
 CONSTRAINT [PK_CentrodeTrabajo] PRIMARY KEY CLUSTERED 
(
	[numCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directivos]    Script Date: 06/04/2026 0:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directivos](
	[numEmpleado] [int] NOT NULL,
	[numCentroSupervisa] [nchar](6) NULL,
	[prestaciones] [bit] NULL,
 CONSTRAINT [PK_Directivos] PRIMARY KEY CLUSTERED 
(
	[numEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 06/04/2026 0:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[numEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](15) NULL,
	[apellidoP] [nchar](15) NULL,
	[apellidoM] [nchar](15) NULL,
	[fechaNacimiento] [date] NULL,
	[RFC] [nchar](13) NULL,
	[numCentro] [nchar](6) NULL,
	[numPuesto] [int] NULL,
	[descripcionPuesto] [nchar](20) NULL,
	[directivos] [bit] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[numEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 06/04/2026 0:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puestos](
	[numPuesto] [int] NOT NULL,
	[puesto] [nchar](15) NULL,
	[descripcion] [nchar](20) NULL,
 CONSTRAINT [PK_Puestos] PRIMARY KEY CLUSTERED 
(
	[numPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CentrodeTrabajo] ([numCentro], [nombreCentro], [ciudad]) VALUES (N'000201', N'Tiendas Ángel Flores Ropa                         ', N'Culiacán       ')
INSERT [dbo].[CentrodeTrabajo] ([numCentro], [nombreCentro], [ciudad]) VALUES (N'000202', N'Tiendas Ángel Flores Muebles                      ', N'Culiacán       ')
INSERT [dbo].[CentrodeTrabajo] ([numCentro], [nombreCentro], [ciudad]) VALUES (N'000203', N'Tiendas Ángel Flores Cajas                        ', N'Culiacán       ')
GO
INSERT [dbo].[Directivos] ([numEmpleado], [numCentroSupervisa], [prestaciones]) VALUES (2, N'040003', 1)
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([numEmpleado], [nombre], [apellidoP], [apellidoM], [fechaNacimiento], [RFC], [numCentro], [numPuesto], [descripcionPuesto], [directivos]) VALUES (1, N'Jesus          ', N'Vega           ', N'Castro         ', CAST(N'1998-03-26' AS Date), N'VECJ880326XJX', N'000201', 1, N'Vendedor            ', 0)
INSERT [dbo].[Empleado] ([numEmpleado], [nombre], [apellidoP], [apellidoM], [fechaNacimiento], [RFC], [numCentro], [numPuesto], [descripcionPuesto], [directivos]) VALUES (2, N'Jose           ', N'Lopez          ', N'Perez          ', CAST(N'1980-01-01' AS Date), N'LOPJ800101XZX', N'040003', 2, N'Gerente             ', 1)
INSERT [dbo].[Empleado] ([numEmpleado], [nombre], [apellidoP], [apellidoM], [fechaNacimiento], [RFC], [numCentro], [numPuesto], [descripcionPuesto], [directivos]) VALUES (3, N'Ana            ', N'Ruiz           ', N'Torres         ', CAST(N'1995-07-15' AS Date), N'RUTA950715XWX', N'000202', 1, N'Vendedor            ', 0)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
INSERT [dbo].[Puestos] ([numPuesto], [puesto], [descripcion]) VALUES (1, N'Vendedor       ', N'Ventas              ')
INSERT [dbo].[Puestos] ([numPuesto], [puesto], [descripcion]) VALUES (2, N'Gerente        ', N'Administrador Tienda')
INSERT [dbo].[Puestos] ([numPuesto], [puesto], [descripcion]) VALUES (3, N'Cajero         ', N'Manejo de Caja Cobro')
GO
ALTER TABLE [dbo].[Directivos]  WITH CHECK ADD  CONSTRAINT [FK_Directivos_CentrodeTrabajo] FOREIGN KEY([numCentroSupervisa])
REFERENCES [dbo].[CentrodeTrabajo] ([numCentro])
GO
ALTER TABLE [dbo].[Directivos] CHECK CONSTRAINT [FK_Directivos_CentrodeTrabajo]
GO
ALTER TABLE [dbo].[Directivos]  WITH CHECK ADD  CONSTRAINT [FK_Directivos_Empleado] FOREIGN KEY([numEmpleado])
REFERENCES [dbo].[Empleado] ([numEmpleado])
GO
ALTER TABLE [dbo].[Directivos] CHECK CONSTRAINT [FK_Directivos_Empleado]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_CentrodeTrabajo] FOREIGN KEY([numCentro])
REFERENCES [dbo].[CentrodeTrabajo] ([numCentro])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_CentrodeTrabajo]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Puestos] FOREIGN KEY([numPuesto])
REFERENCES [dbo].[Puestos] ([numPuesto])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Puestos]
GO
